.top-header
  .header-innner
    .clearfix
      .mercari-logo
        = link_to root_path do
          = image_tag 'logo.png', alt: 'mercari', width:'134', height:'36'
      = render partial: "/partial/search"
    .header-nav-bar.clearfix
      %nav.content-left
        %ul.header-nav-list
          %li
            %h2
              = fa_icon 'list', class: "fa fa-list-ul"
              = link_to 'カテゴリーから探す', '', class: 'header-nav-categoly'
          %li
            %h2
              = fa_icon 'tag', class: "fas fa-tag"
              = link_to 'ブランドから探す', '', class: 'header-nav-brand'
      .content-right
        %ul.header-user-list
          - if user_signed_in?
            %li
              = link_to user_path(current_user) do
                = image_tag("https://static.mercdn.net/members/972262943.jpg?1564598982", height: '32', width: '32')
                %span マイページ
          - else
            %li
              .register-btn
                = link_to "新規会員登録", new_user_registration_path, class: "register-btn sign-up-btn"
            %li
              .header-user-root
                = link_to "ログイン", new_user_session_path, class: "header-user-root sign-in-btn"
