<div class='container__single-footer'>
<nav>
<%= link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/" %>
<%= link_to "利用規約", "https://www.mercari.com/jp/tos/" %>
<%= link_to "特定商取引", "https://www.mercari.com/jp/tokutei/" %>
    <div class="single-footer__logo" class: logo-gray>
    <%= link_to root_path, target: "" do %>
    <%= image_tag 'logo-gray.png', :size =>'80x65', alt: "シングルフッター" %>
    <% end %>
</nav>
<a>
    © 2019 Mercari
</a>
</div>
