<%= form_with model: @product, local: true do |f| %>
  <div class='product_form'>
    <p class='title'>商品の情報を入力</p>
    <div class='product_form__image'>
      <p class='column_title'>出品画像（最大10枚） <span class='required'>必須</span></p>
      <%= f.fields_for :images do |image| %>
        <%= image.file_field :image %>
      <% end %>
    </div>
    <div class='product_form__main'>
      <div class='product_form__name'>
        <p class='column_title'>商品名 <span class='required'>必須</span></p>
        <%= f.text_field :name, placeholder: '商品名（必須 40文字まで）', maxlength: '40' %>
      </div>
      <div class='product_form__description'>
        <p class='column_title'>商品の説明 <span class='required'>必須</span></p>
        <%= f.text_area :description, placeholder: '商品の説明（必須 1,000文字以内）', maxlength: '40' %>
      </div>
    </div>
    <div class='product_form__detail'>
      <div class='subtitle'>
        <p>商品の詳細</p>
      </div>
      <div class='subform'>
        <div class='product_form__category'>
          <p class='column_title'>カテゴリー <span class='required'>必須</span></p>
          <%= f.collection_select :category_id, @categories, :id, :category ,include_blank: '---' %>
        </div>
        <div class='product_form__condition'>
          <p class='column_title'>商品の状態 <span class='required'>必須</span></p>
          <%= f.collection_select :condition_id, @conditions, :id, :condition ,include_blank: '---' %>
        </div>
      </div>
    </div>
    <div class='product_form__delivery'>
      <div class='subtitle'>
        <p>配送について</p>
      </div>
      <div class='subform'>
        <div class='product_form__delivery_fee_pay'>
          <p class='column_title'>配送料の負担 <span class='required'>必須</span></p>
          <%= f.collection_select :delivery_fee_pay_id, @delivery_fee_pays, :id, :delivery_fee_pay ,include_blank: '---' %>
        </div>
        <div class='product_form__delivery_way' hidden>
          <p class='column_title'>配送の方法 <span class='required'>必須</span></p>
          <%= f.collection_select :delivery_way_id, @delivery_ways, :id, :delivery_way ,include_blank: '---' %>
        </div>
        <div class='product_form__prefecture'>
          <p class='column_title'>発送元の地域 <span class='required'>必須</span></p>
          <%= f.collection_select :delivery_off_area_id, @prefectures, :id, :prefecture ,include_blank: '---' %>
        </div>
        <div class='product_form__delivery_off_day'>
          <p class='column_title'>発送までの日数 <span class='required'>必須</span></p>
          <%= f.collection_select :delivery_off_day_id, @delivery_off_days, :id, :delivery_off_day ,include_blank: '---' %>
        </div>
      </div>
    </div>
    <div class='product_form__money'>
      <div class='subtitle'>
        <p>販売価格(300〜9,999,999)</p>
      </div>
      <div class='subform'>
        <div class='product_form__price'>
          <p class='column_title'>価格 <span class='required'>必須</span> ¥</p>
          <%= f.number_field :price %>
        </div>
        <div class='product_form__fee'>
          <p class='column_title'>販売手数料（10%）</p>
          <input id='product_fee' placeholder='販売手数料（10%）' disabled='disabled' >
        </div>
        <div class='product_form__profit'>
          <p class='column_title'>販売利益</p>
          <input id='product_profit' disabled='disabled' >
        </div>
      </div>
    </div>
    <div class='product_form__hidden' hidden>
      <div class='product_form__product_status' hidden>
        <%= f.text_field :product_status_id, value: 1 %>
      </div>
      <div class='product_form__purchase' hidden>
        <%= f.fields_for :purchase do |purchase| %>
          <%= purchase.text_field :seller_id, value: current_user.id %>
        <% end %>
      </div>
    </div>
    <div class='product_form__submit'>
      <%= f.submit '出品する', class:'submit_button' %>
    </div>
    <%= link_to root_path, class: 'product_form__back' do %>
      <div class='back_button'>もどる</div>
    <% end %>
  </div>
<% end %>
