= render 'partial/single_header'
= render 'partial/progress'
.sign-up
  %h1 会員情報の入力
  .sign-up__main
    .sign-up__single
      .form-group-detail
        .form-group
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = render "devise/shared/error_messages", resource: resource
            .form-group__label
              %h6
                %p.form-group-label__require ニックネーム
                %span#require 必須
              = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: '例）メルカリ太郎', class: 'field'
            .form-group__label
              %h6
                %p.form-group-label__require メールアドレス
                %span#require 必須
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'pc・携帯どちらでも可', class: 'field'
            .form-group__label
              %h6
                %p.form-group-label__require パスワード
                %span#require 必須
              = f.password_field :password, autocomplete: "off" , placeholder: '６文字以上', class: "field"
            .form-group__label
              %h6
                %p.form-group-label__require パスワード（確認）
                %span#require 必須
              = f.password_field :password_confirmation, autocomplete: "off" , placeholder: '６文字以上', class: "field"
            .form-group__label
              %h6
                %p.form-group-label__require 生年月日
                %span#require 必須
              .select_y
                = select_tag :year, options_for_select( (1900..2030)),  include_blank: '--', class: 'field', id: 'select_year', style: 'width:80px'
                %span
              .select_m
                = select_tag :month, options_for_select((1..12)),  include_blank: '--', class: 'field', id: 'select_month', style: 'width:80px'
                %span
              .select_d
                = select_tag :day, options_for_select((1..31)),  include_blank: '--', class: 'field', id: 'select_day', style: 'width:80px'
            .form-group__label
              %span 「次へ進む」のボタンをクリックすることにより、利用規約に同意したものとみなします
            .form-group__label
              .button-next
              = link_to '次へ進む','#', class:'button-next', id: 'btn-next'
            .form-group-delivery
              %h6
                %p.form-group-label__require 姓（全角）
                %span#require 必須
              = f.text_field :family_name, class:"form-group__input", placeholder: "例) 山田", class: 'hidden-field'
            .form-group-delivery
              %h6
                %p.form-group-label__require 名（全角）
                %span#require 必須
              = f.text_field :first_name, class:"form-group__input", placeholder: "例) 彩", class: 'hidden-field'
            .form-group-delivery
              %h6
                %p.form-group-label__require 姓かな（全角）
                %span#require 必須
              = f.text_field :family_name_kana, class:"form-group__input", placeholder: "例) ヤマダ", class: 'hidden-field'
            .form-group-delivery
              %h6
                %p.form-group-label__require 名かな（全角）
                %span#require 必須
              = f.text_field :first_name_kana, class:"form-group__input", placeholder: "例) アヤ", class: 'hidden-field'
            = f.fields_for :user_detail do |user_detail|
              .form-group--hidden
              %h6
                %p.form-group-label__require  郵便番号
                %span#require 必須
              = user_detail.number_field :zip_code, class:"form-group__input", placeholder: "例) 1234567", class: 'hidden-field'
              .form-group--hidden
              %h6
                %p.form-group-label__require  都道府県
                %span#require 必須
              = user_detail.collection_select :prefecture_id, Prefecture.all, :id , :prefecture, placeholder: '例）北海道', class: 'hidden-field'
              .form-group--hidden
              %h6
                %p.form-group-label__require  市区町村
                %span#require 必須
              = user_detail.text_field :city, class:"form-group__input", placeholder: "例) 横浜市緑区", class: 'hidden-field'
              .form-group--hidden
              %h6
                %p.form-group-label__require  番地
                %span#require 必須
              = user_detail.text_field :street, class:"form-group__input", placeholder: "例) 青山1-1-1", class: 'hidden-field'
              .form-group--hidden
              %h6
                %p.form-group-label__require 建物名
                %span#any 任意
              = user_detail.text_field :building_name, class:"form-group__input", placeholder: "例) 柏ビル103", class: 'hidden-field'
              .form-group--hidden
              %h6
                %p.form-group-label__require  電話番号
                %span#any 任意
              = user_detail.text_field :phone, class:"form-group__input", placeholder: "例) 09012345678", class: 'hidden-field'
              .sign-up-submit-box
            = link_to root_path, class: 'button-registration' do
              = f.submit '登録する', class:'button-registration', id: 'button-next'
= render 'partial/single_footer'
