= render 'partial/single_header'
= render 'partial/progress'
.sign-up
  %h1 会員情報の入力
  .sign-up__main
    .sign-up__single
      .form-group-detail
        .form-group
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = render "devise/shared/error_messages", resource: resource
            .form-group__label
              %h6
                %p.form-group-label__require
                  \ニックネーム
                  %span#require 必須
              %br/
              = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: '例）メルカリ太郎', class: 'field'
            %br/
            .form-group__label
              %h6
                %p.form-group-label__require
                  \メールアドレス
                  %span#require 必須
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'pc・携帯どちらでも可', class: 'field'
            %br/
            .form-group__label
              %h6
                %p.form-group-label__require
                  \パスワード
                  %span#require 必須
              %br/
              = f.password_field :password, autocomplete: "off" , placeholder: '６文字以上', class: "field"
            %br/
            .form-group__label
              %h6
                %p.form-group-label__require
                  \パスワード（確認）
                  %span#require 必須
              %br/
              = f.password_field :password_confirmation, autocomplete: "off" , placeholder: '６文字以上', class: "field"
            %br/
            .form-group__label
              %label{for: "birthday"}
                %h6 生年月日
                %span#require 任意
            .select_y
              = select_tag :year, options_for_select( (1900..2030)),  include_blank: '--', class: 'field', id: 'select_year', style: 'width:90px'
              %i.fas.fa-angle-down
              %span
            .select_m
              = select_tag :month, options_for_select((1..12)),  include_blank: '--', class: 'field', id: 'select_month', style: 'width:90px'
              %i.fas.fa-angle-down
              %span
            .select_d
              = select_tag :day, options_for_select((1..31)),  include_blank: '--', class: 'field', id: 'select_day', style: 'width:90px'
              %i.fas.fa-angle-down
              %span
            %br/
            %br/
            %br/
            = succeed "" do
              %div
            %h7 本人確認
            %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。
          .recaptcha
            .g-recaptcha
        .sign-up-next-box
          %span
            \「次へ進む」のボタンをクリックすることにより、利用規約に同意したものとみなします
          = succeed "" do
            .button-next
      .btn-next-text
        %p
          = link_to '本人情報の登録について','#', class: 'btn-next-text'
          %i.fas.fa-angle-right
    / sign-up-next-box
  / formgroup_detail
  / 送り先住所の登録ここから
  .sign-up--hidden
    .form-group-delivery
      = f.fields_for :user_detail do |user_detail|
        .form-group--hidden
          .form-group__label--hidden
            %h6
              %p.form-group-label__require
                \お名前姓
                %span#require 必須
            %br
              = f.text_field :family_name, autocomplete: family_name , placeholder: '例）山田', class: hidden-field
          %br
            %br
              %br
                .form-group--hidden
                  .form-group__label--hidden
                    %h6
                      %p.form-group-label__require
                        \お名前名
                        %span#require 必須
                    %br
                      = f.text_field :first_name, autocomplete: first_name , placeholder: '例）彩', class: hidden-field
                  %br
                    %br
                      %br
                        .form-group--hidden
                          .form-group__label--hidden
                            %h6
                              %p.form-group-label__require
                                \お名前姓かな
                                %span#require 必須
                            %br
                              = f.text_field :family_name_kana, autocomplete: family_name_kana , placeholder: '例）ヤマダ', class: hidden-field
                          %br
                            %br
                              %br
                                .form-group--hidden
                                  .form-group__label--hidden
                                    %h6
                                      %p.form-group-label__require
                                        \お名前名かな
                                        %span#require 必須
                                    %br
                                      = f.text_field :first_name_kana, autocomplete: first_name_kana , placeholder: '例）アヤ', class: hidden-field
                                  %br
                                    %br
                                      %br
                                        .form-group--hidden
                                          .form-group__label--hidden
                                            %h6
                                              %p.form-group-label__require
                                                \郵便番号
                                                %span#require 必須
                                            %br
                                              = user_detail.number_field :zip_code, autofocus: true, autocomplete: zip_code, placeholder: '例）123-4567', class: hidden-field
                                          %br
                                            %br
                                              %br
                                                .form-group--hidden
                                                  .form-group__label--hidden
                                                    %h6
                                                      %p.form-group-label__require
                                                        \都道府県
                                                        %span#require 必須
                                                    %br
                                                      = user_detail.collection_select :prefecture_id, Prefecture.all, :id , :prefecture, placeholder: '例）北海道', class: hidden-field , id: select
                                                  %br
                                                    %br
                                                      %br
                                                        .form-group--hidden
                                                          .form-group__label--hidden
                                                            %h6
                                                              %p.form-group-label__require
                                                                \市区町村
                                                                %span#require 必須
                                                            %br
                                                              = user_detail.text_field :city, autofocus: true, autocomplete: city, placeholder: '例）横浜市緑区', class: hidden-field
                                                          %br
                                                            %br
                                                              %br
                                                                .form-group--hidden
                                                                  .form-group__label--hidden
                                                                    %h6
                                                                      %p.form-group-label__require
                                                                        \番地
                                                                        %span#any 任意
                                                                    %br
                                                                      = user_detail.text_field :street, autofocus: true, autocomplete: street, placeholder: '例）青山1−1−1', class: hidden-field
                                                                  %br
                                                                    %br
                                                                      %br
                                                                        .form-group--hidden
                                                                          .form-group__label--hidden
                                                                            %h6
                                                                              %p.form-group-label__require
                                                                                \建物名
                                                                                %span#any 任意
                                                                            %br
                                                                              = user_detail.text_field :building_name, autofocus: true, autocomplete: building_name, placeholder: '例）柳ビル103', class: hidden-field
                                                                          %br
                                                                            %br
                                                                              %br
                                                                                .form-group--hidden
                                                                                  .form-group__label--hidden
                                                                                    %h6
                                                                                      %p.form-group-label__require
                                                                                        \電話番号
                                                                                        %span#any 任意
                                                                                    %br
                                                                                      = user_detail.text_field :phone, autofocus: true, autocomplete: phone, placeholder: '例）09012345678', class: hidden-field
                                                                                  %br
                                                                                    %br
                                                                                      %br
                                                                                        .sign-up-submit-box
                                                                                          = link_to root_path, class: 'product_form__back' do
                                                                                            = f.submit '登録する', class:'button-registration'
                                                                                        / sign-up-submit-box
                                                                                / form-group-delivery
                                                                              / sign-up--hidden
                                                                            / sign-up__single
                                                                          / sign-up__main
                                                                        / sign-up
= render 'partial/single_footer'
